*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border: none;
  background:none;
}
ul,li{
  list-style-type: none;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
  outline: none;
  color: black;
}

h1{
  margin-bottom: 30px;
}
h2,h3{
  margin: 10px 0;
}
p{
  margin: 15px 0;
  letter-spacing: 1px;
}
strong{
  color: var(--main-color);
}
